body
{
    color: rgb(211, 2, 248);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#contaier
{
    width: 70%;
    padding: 1em;
    text-align: left;
    margin: 1 auto;
    border: 1px solid black;
}
#cabezera{
    width: 100%;
    color: rgb(0, 138, 23);
    background-color: black;
    box-shadow: black;
    
    text-align: center;
    border: 3px solid beige;
    height: 20%;
}